.sidebar {
    &__content{
        gap: toRem(50);                                                                 
    }
    &__item{
        gap: toRem(10);
    }
}

.suggestion {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    max-width: 300px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 100px;

    &__item {
        padding: 10px 15px; 
        cursor: pointer; 
        transition: background-color 0.3s ease; 
        &:hover {
            background-color: #f0f0f0;
        }
    }
  }
  
  

