.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    border-radius: toRem(10);
    padding: toRem(10) toRem(20);
}

.btn:hover{
    opacity: 0.8;
}

